<!DOCTYPE html>
<html>
  <head>
    <title>КНТ - ТУ Варна</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="tu-varna, knt, computers, education, university">
    <meta name="author" content="hackohackob">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/demo.css">
    <link rel="stylesheet" href="/stylesheets/icons.css">
    <link rel="stylesheet" href="/stylesheets/component.css">
    <link rel="stylesheet" href="/stylesheets/uikit.almost-flat.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Comfortaa&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <style>
      .content-box-blue, .content-box-white {margin-top:0; padding:50px 0;}
      .content-box-blue-title, .content-box-white-title {font-family:"Poiret One";  margin-bottom:20px; margin-bottom:7vw; font-size:20px; font-size:6vw; text-align:center;}
      .content-box-white{background-color:#ecf0f1; }
      .content-box-white-title{ color:#2980b9;}
      .content-box-blue{background-color:#2980b9;}
      .content-box-blue-title{ color:#ecf0f1;}
      .content-box-content{font-family:"Poiret One"; width:100%; color:#000; }
      .content-box-content ul { list-style-type:none; padding:0;}
      .flaticon{border:1px solid white; display:inline-block;font-size:15px; font-size:3.5vw; padding:20px; color:#ecf0f1; background-color:#2980b9; -webkit-transition: all 0.5s ease; transition: all 0.5s ease;}
      .flaticon:hover{border:1px solid #2980b9; background-color:#ecf0f1; color:#2980b9}
      .flaticon img{width:10%; margin-left:20px; margin-right:20px;}
      .kst{float:right; text-align:right;}
      .content-box-content p {text-align:justify; font-family:"Comfortaa"; font-size:18px; margin:5%; padding:4%; }
      .content-box-content .list1 {font-family:"Comfortaa"; margin:2% 5%; font-size:17px; color:#fff; text-align:center;}
      .content-box-content .list1 li{ padding:1%;}
      .content-box-content .list1 a {color:#fff; decoration:underline;}
      .content-box-content .list1 a:hover {color:#eee; decoration:underline;}
      .list2 { font-family:"Comfortaa"; margin:5%; font-size:17px; color:#000}
      .content-box-content .ul-show{ list-style-type:circle;}
      .content-box-content .ul-show li{ margin-left:4%;}
      .uk-icon-medium{margin-left:15px;}
    </style>
    <script src="/javascripts/jquery-1.11.0.js"></script>
    <script src="/javascripts/modernizr.custom.js"></script>
    <script src="/javascripts/jss.js"></script>
    <script src="/javascripts/jquery.mCustomScrollbar.js"></script>
    <script src="/javascripts/jquery.fittext.js"></script>
    <script src="/javascripts/uikit.min.js"></script>
  </head>
  <body>
    <div id="st-container" class="st-container">
      <nav id="menu-11" class="st-menu st-effect-11">
        <!--TODO:-->
        <h2 class="icon icon-lab">ТУ - Варна</h2>
        <ul>
          <li class="menu-list-main"><span class="icon icon-study">Основно меню</span></li>
          <li><a href="/">Начало</a></li>
          <li><a href="/uch_proces">Учебен процес</a></li>
          <li><a href="#">Академичен състав</a></li>
          <li><a href="#">Научни изследвания</a></li>
          <li><a href="#">Списание КНТ</a></li>
          <li><a href="#">Учебни курсове</a></li>
          <li><a href="#">Научни проекти</a></li>
          <li><a href="#">Международни проекти</a></li>
          <li><a href="#">История</a></li>
          <li><a href="#">Новини</a></li>
          <li><a href="#" class="menu-list-prev">Връзки и контакти</a></li>
          <li class="menu-list-main long"><span>
              <div class="icon icon-study"></div><span>Студентска олимпиада по програмиране</span></span></li>
          <li><a href="#" class="icon icon-study">Задачи и решения</a></li>
          <li><a href="#" class="icon icon-study">Снимки</a></li>
          <li><a href="#" class="icon icon-study menu-list-prev">Архив на PC<sup>2</sup></a></li>
          <li class="menu-list-main"><span class="icon icon-study">Асоциация на възпитаниците</span></li>
          <li><a href="#" class="icon icon-study">Регистрация на випускници</a></li>
          <li class="menu-list-main long"><span>
              <div class="icon icon-study"></div><span>Втора конференция с международно участие</span></span></li>
          <li><a href="#" class="icon icon-study">Начало</a></li>
          <li><a href="#" class="icon icon-study">Организатори</a></li>
          <li><a href="#" class="icon icon-study">Тематични направления</a></li>
          <li><a href="#" class="icon icon-study">Оформление</a></li>
          <li><a href="#" class="icon icon-study">Програма</a></li>
          <li><a href="#" class="icon icon-study">Контакти</a></li>
        </ul>
      </nav>
      <div class="st-pusher">
        <div class="st-content">
          <div class="st-content-inner">
            <div id="st-trigger-effects">
              <button data-effect="st-effect-11"><span class="uk-icon-bars"></span></button>
            </div>
            <header class="header">
              <div class="blur"></div>
              <div id="buffer"><img id="logo" src="images/logow.png">
                <div id="heading">
                  <h1>Катедра КНТ</h1>
                  <h3>ТУ - Варна</h3>
                </div>
              </div>
            </header>
            <div class="main clearfix">
              <div class="content-box-white">
                <h2 class="content-box-white-title">Специалности</h2>
                <div class="content-box-content">
                  <ul>
                    <li><a href="http://cs.tu-varna.bg/index.php?option=com_content&amp;task=view&amp;id=353&amp;Itemid=28">
                        <div class="flaticon"><img src="icons/computer106.png"><span>Софтуерни и интернет технологии</span></div></a></li>
                    <li><a href="http://cs.tu-varna.bg/index.php?option=com_content&amp;task=view&amp;id=315&amp;Itemid=28">
                        <div class="flaticon kst"><span>Компютърни системи и технологии</span><img src="icons/server1.png"></div></a></li>
                  </ul>
                  <div class="clear"></div>
                  <p>Студентите от специалности СИТ и КСТ се обучават по учебен план, който <b>за първи път в България</b> е изцяло съобразен с <b>международните</b> стандарти за обучение в областта на компютърните технологии. Катедра "КНТ" редовно обновява своите учебни планове, позволявайки по този начин <b>най-новите</b> постижения в областта на компютърните науки и информационните технологии да бъдат своевременно предоставени на студентите. Осъвременяванията на учебните програми се правят на базата на изискванията на пазара на IT специалисти, на най-новите препоръки на <b>IEEE</b> (Световната организация на инженерите по електротехника и електроника) и <b>ACM</b> (Световната асоциация по компютърни машини), както и на текущите академични програми на водещи световни университети.</p>
                </div>
              </div>
              <div id="some" class="content-box-blue">
                <h2 class="content-box-blue-title">Връзки</h2>
                <div class="content-box-content">
                  <ul class="list1">
                    <li><a target="new" href="http://cs.tu-varna.bg/index.php?option=com_content&amp;task=view&amp;id=284&amp;Itemid=28">Разпис на занятията за ОКС "Магистър", зимен семестър</a></li>
                    <hr>
                    <li><a target="new" href="http://cs.tu-varna.bg/images/stories/magistri_klasirane/priem.pdf">Важно! Ново класиране за ОКС "Магистър", спец. "Компютърни системи и технологии "<i class="uk-icon-medium uk-icon-file-pdf-o"></i></a></li>
                    <hr>
                    <li><a target="new" href="http://cs.tu-varna.bg/images/stories/docs/zadanie.mag.pdf">Задание за дипломна работа за ОКС "Магистър"<i data-uk-tooltip title="zadanie_mag.pdf" class="uk-icon-medium uk-icon-file-pdf-o"></i></a></li>
                    <hr>
                    <li><a target="new" href="http://cs.tu-varna.bg/images/stories/docs/zadanie.doc">Образец на задание за дипломна работа за ОКС "Магистър"<i data-uk-tooltip title="zadanie.doc" class="uk-icon-medium uk-icon-file-word-o"></i></a></li>
                    <hr>
                    <li><a target="new" href="http://cs.tu-varna.bg/images/learning/praktika/dnevnik_praktika.doc">Дневник за производствена практика след 6-ти семестър<i data-uk-tooltip title="dnevnik_praktika.doc" class="uk-icon-medium uk-icon-file-word-o"></i></a></li>
                    <hr>
                    <li><span>Заповед за специализираща практика за студентите от III к. спец. КСТ, СИТ и КСТ-задочно<a target="new" href="http://cs.tu-varna.bg/images/docs/zapoved.01.kst.sit1.pdf" data-uk-tooltip title="zapoved.01.kst.sit1.pdf" class="uk-icon-medium uk-icon-file-pdf-o"></a><a target="new" href="http://cs.tu-varna.bg/images/docs/zapoved.zad.2.pdf" data-uk-tooltip title="zapoved.zad.2.pdf" class="uk-icon-medium uk-icon-file-pdf-o"></a></span></li>
                    <hr>
                    <li><a href="#">Регистрация на випускници за Асоциация на възпитаниците на катедра "Компютърни науки и технологии".</a></li>
                  </ul>
                </div>
              </div>
              <div class="content-box-white">
                <h2 class="content-box-white-title">За сайта</h2>
                <div class="content-box-content">
                  <ul class="list2">
                    <li>Този сайт е направен от Атанас Атанасов, студент 2ри курс в Технически Университет Варна. Сайтът е копие на <a href="http://cs.tu-varna.bg">оригиналния сайт</a> на катедра КНТ към ТУ - Варна. Целта на създаването на тази уеб сайт е промяна и подобряване на дизайна на сайта.</li>
                  </ul>
                  <div class="white-line"></div>
                  <ul class="list2">
                    <li><b>Сървърна част</b></li>
                    <li>
                      Сървърната част на сайта е написана върху <a href="http://nodejs.org">Node.js</a>, който е javascript език създаден на база V8 - енджинът на Google Chrome. Първоначално Node излиза през 2009г., което го прави сравнително нова технология. Фактът, че е асинхронен и е изграден върху добра и бърза база(V8), прави и самата технология бърза.<br>
                      Върху технологията Node е изграден framework-a <a href="http://expressjs.com">Express.js</a>. Именно Express.js е използван за сървърната част на този сайт. Express е лек и надежден framework с който можем да изградим Node архитектура на нашия сървър. Express едновременно улеснява, структурира и значително намалява писането на код, при имплементиране на Node.js уеб-сървърно приложение.
                      Освен това, Express ни позволява използването на шаблонни езици за изграждането на HTML кодът на страницата. Един от тези шаблонни езици е <a href="http://jade-lang.com">Jade</a> и именно той е използван в този уеб сайт.<br>
                      Цялото Node приложение за този сайт е качено в "облака" и се хоства от <a href="http://heroku.com">heroku</a>.
                    </li>
                    <li><br><b>База данни</b></li>
                    <li>
                      Както при повечето по-големи сайтове, така и при този, страниците са динамични и информацията за тях се съхранява в база данни. Малка част от всяка страница на този сайт е статична (навигационното меню и разположението на информацията).
                      Тази статична част се ползва като шаблон и при заявка към всяка една отделна страница на сайта се прави заявка към базата данни за информацията за тази страница и шаблона се попълва с данните получени от базата данни. <br>
                      За реализация е използвана базата данни <a href="http://mongodb.org">MongoDB</a>, която е НЕрелационна, документно ориентирана база данни. Базата данни също е в "облака", като за тази цел са използвани услугите на <a href="http://compose.io">Compose</a> "облака"
                      , който ни позволява да имаме база данни 24/7 без физически сървър и без поддръжка за такъв. Освен тази база данни е направено и още едно копие, което е в "облака" <a href="http://mongolab.com">Mongolab</a> и приложението е направено така, че много лесно да може
                      да преминава от ползването на едната база данни към другата.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/javascripts/classie.js"></script>
  <script src="/javascripts/sidebarEffects.js"></script>
  <script>
    $(function(){
            $('.st-menu').mCustomScrollbar({
              theme:'minimal-dark',
              axis:'y',
              scrollInertia:1000,
              autoHideScrollbar: true
            });
      var long=$('.long');
      for(var i=0,len=long.length;i<len;i++){
        $(long[0].children[0]).addClass('checking-now'+i.toString());
          jss.set('.st-menu .checking-now'+i.toString()+' div',{
            'top':(($('.checking-now'+i.toString())[0].clientHeight-10)/2).toString()+'px'
          });
      };
    });
  </script>
</html>