*,::before,:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.st-container,.st-content,.st-pusher,body,html {
    height: 100%;
}

.st-content,.st-content-inner {
    position: relative;
}

#buffer {
    background-color: rgba(100,100,100,.4);
}

.st-container {
    position: relative;
    overflow: hidden;
}

.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
}

.st-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity .5s,width .1s .5s,height .1s .5s;
    transition: opacity .5s,width .1s .5s,height .1s .5s;
}

.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 300px;
    height: 100%;
    background: #0F5586;
    /*-webkit-transition: all .5s;*/
    /*transition: all .5s;*/
    overflow: hidden;
    -ms-overflow: hidden;
}

.st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0,0,0,.2);*/
    /*content: '';*/
    /*opacity: 1;*/
    /*-webkit-transition: opacity .5s;*/
    /*transition: opacity .5s;*/
}

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    /*-webkit-transition: opacity .5s,width .1s .5s,height .1s .5s;*/
    /*transition: opacity .5s,width .1s .5s,height .1s .5s;*/
}

.st-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.st-menu .long {
    position: relative;
}

.st-menu .long div {
    position: absolute;
    top: 20px;
}

.st-menu .long span {
    display: block;
    margin-left: 30px;
}

.st-menu ul li a,.st-menu ul li>span {
    margin-left: 40px;
}

.st-menu ul .menu-list-main a,.st-menu ul .menu-list-main>span {
    margin-left: 0;
    background-color: #033253;
}

.st-menu ul .menu-list-main a:hover,.st-menu ul .menu-list-main>span:hover {
    margin-left: 0;
}

.st-menu h2 {
    margin: 0;
    padding: 1em;
    color: rgba(0,0,0,.4);
    text-shadow: 0 0 1px rgba(0,0,0,.1);
    font-weight: 300;
    font-size: 2em;
    text-align:center;
}

.st-menu ul li a,.st-menu ul li>span {
    display: block;
    padding: 1em 1em 1em 1.2em;
    outline: 0;
    box-shadow: inset 0 -1px rgba(0,0,0,.2);
    color: #f3efe0;
    text-shadow: 0 0 1px rgba(255,255,255,.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background .3s,box-shadow .3s;
    transition: background .3s,box-shadow .3s;
}

.st-menu ul .menu-list-main a,.st-menu ul .menu-list-main>span {
    box-shadow: inset 0 -1px rgba(0,0,0,.2),inset 0 1px rgba(0,0,0,.2);
}

.st-menu ul li a:hover {
    box-shadow: inset 0 -1px transparent;
    color: #fff;
    background-color: #437DA6;
}

.st-menu ul li .menu-list-prev {
    box-shadow: none;
}

/* Effect 1: Slide in on top */
.st-effect-1.st-menu {
    visibility: visible;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
    display: none;
}
